[Desktop Entry]
Type=Application
Name=VeLisp - Demo Example
Exec={{INSTALL_DIR}}/velisp {{INSTALL_DIR}}/examples/demo.lsp
#Icon={{INSTALL_DIR}}/icons/icon.png
Terminal=false
Categories=Development;Education;
