[Desktop Entry]
Type=Application
Name=VeLisp - Fifteen Example
Exec={{INSTALL_DIR}}/velisp {{INSTALL_DIR}}/examples/fifteen.lsp
#Icon={{INSTALL_DIR}}/icons/icon.png
Terminal=false
Categories=Development;Education;
